<div class="flex bg-slate-50 justify-center items-center h-screen w-screen">
  <div class="shadow-sm w-1/5 p-10 bg-white rounded-md">


    <h1 class="text-xl font-bold">
      Change Password?
    </h1>

    <p class="text-base mt-3 text-slate-900 font-medium">
      Current Password
    </p>
    <input type="password" name="email" class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md"
      placeholder="Current Password" [(ngModel)]="currentPassword">

    <p class="text-base mt-3 text-slate-900 font-medium">
      New Password
    </p>
    <input type="password" name="password" class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md"
      placeholder="New Password" [(ngModel)]="newPassword">
    <button (click)="changePassword()" [disabled]="!currentPassword || !newPassword"
      class="w-full disabled:opacity-50 p-2 bg-slate-900 rounded-md text-white mt-2">
      Change Password
    </button>

  </div>
</div>
