<div class="flex bg-slate-50 justify-center items-center h-screen w-screen">
  <div class="shadow-sm w-1/5 p-10 bg-white rounded-md">


    <h1 class="text-xl font-bold">
      Reset Password?
    </h1>

    <p class="text-base mt-3 text-slate-900 font-medium">
      Email Address
    </p>
    <input type="email" readonly name="email" class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md"
      placeholder="Email" [(ngModel)]="resetPassword.email">

    <p class="text-base mt-3 text-slate-900 font-medium">
      New Password
    </p>
    <input type="password" name="password" class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md"
      placeholder="Email" [(ngModel)]="resetPassword.newPassword">
    <button (click)="resetPasswordHandle()" [disabled]="!resetPassword.email || !resetPassword.newPassword"
      class="w-full disabled:opacity-50 p-2 bg-slate-900 rounded-md text-white mt-2">
      Reset Password
    </button>

  </div>
</div>
