<div class="border-slate-100 border-b p-3 fl gap-2 justify-between">
  <table class="text-left w-full border">
    <thead>
      <tr class="px-5">
        <th class="border p-2">Name</th>
        <th class="border p-2">Users</th>
        <th class="border p-2">Actions</th>
      </tr>
      @for (role of roles; track role.id) {
      <tr class="border-b">
        <td class="border p-3">{{role.name}}</td>
        <td class="border p-3">{{role.totalUsers}}</td>
        <td class="border p-3 flex items-center gap-5">
          <div>
            <mat-icon (click)="delete(role.id)" class="cursor-pointer text-red-600">delete</mat-icon>
          </div>
        </td>
      </tr>
      }
    </thead>
  </table>
</div>
