<div class="mx-60 py-10">
  <h1 class="text-3xl font-bold">All Users</h1>
  <div class="shadow-md text-left rounded-md mt-4">
    <table class="w-full rounded-md">
      <thead>
        <tr>
          <th class="px-4 border py-2">Name</th>
          <th class="px-4 border py-2">Email</th>
          <th class="px-4 border py-2">Role</th>
        </tr>
      </thead>

      <tbody>
        @for (item of user$ | async; track item.id) {
        <tr>
          <td class="border px-4 py-2"> {{item.fullName}}</td>
          <td class="border px-4 py-2"> {{item.email}}</td>
          <td class="border px-4 py-2"> {{item.roles.join(" , ") || '-'}}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
