<div class="flex bg-slate-50 justify-center items-center h-screen w-screen">
  <div class="shadow-sm w-1/5 p-10 bg-white rounded-md">

    @if(showEmailSent){
    <div class="text-center">
      <h1 class="text-xl font-bold">Email Sent</h1>
      <p class="mb1 mt-3 text-blue-700 font-semibold">
        We have sent a password reset link to your email.
      </p>
      <mat-icon class="animate-bounce mt-5" style="width:100px;height: 100px;font-size: 80px;color: blue;">
        check_circle
      </mat-icon>
    </div>
    }@else {
    <h1 class="text-xl font-bold">
      Forgot Password?
    </h1>

    <p class="text-base mt-3 text-slate-900 font-medium">
      Email Address
    </p>
    <input type="email" name="email" class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md"
      placeholder="Email" [(ngModel)]="email">
    <button (click)="forgetPassword()" [disabled]="!email"
      class="w-full disabled:opacity-50 p-2 bg-slate-900 rounded-md text-white mt-2">
      Request Reset Password
    </button>
    }
  </div>
</div>
